<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Obsticle_box">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.42101086242752E-18 1.39188689057563E-18 0.0666666666666667"
        rpy="0 0 0" />
      <mass
        value="1.06666666666667" />
      <inertia
        ixx="0.0016158024691358"
        ixy="1.5419764230905E-20"
        ixz="0"
        iyy="0.0158024691358025"
        iyz="0"
        izz="0.0142577777777778" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/jc/Desktop/ELEC491/panda-gym/panda_gym-2.0.0/tacto/Obsticle_box/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/jc/Desktop/ELEC491/panda-gym/panda_gym-2.0.0/tacto/Obsticle_box/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>